.main-container {
    max-width: 1440px;
    margin: 0px 82px;
}

header {
    background-color: #131313;
    height: 790px;

    .header {
        height: 83px;

        .main-navbar {
            margin: 0px 80px;

            .navbar-item {
                text-align: center;
                color: white;
                font-size: 14px;
                text-decoration: none;

                &:hover {
                    color: #e3b873;
                }
            }

        }

        .main-logo {
            width: 205px;
            font-size: 14px;
            font-weight: bold;
            color: #e3b873;
            text-decoration: none;
            text-transform: uppercase;
        }

        .call-btn {
            width: 161px;
            color: white;
            font-size: 13px;
            text-transform: uppercase;
            height: 37px;
            border-radius: 2px;
            box-shadow: 0 5px 15px 0 rgba(227, 184, 115, 0.2);
            background-color: #e3b873;

        }

        .call-number {
            width: 126px;
            text-align: center;
            color: #e3b873;
            border-bottom: 1px solid #e3b873;
            margin-right: 50px;
            font-size: 14px;
        }
    }

    .main-banner {
        height: 707px;




        .turnkey-repair-banner {
            background-image: url("../images/turnkey-repair.png");
            background-size: cover;
            width: 100%;
            padding-left: 60px;
        }

        .instagram {
            padding-top: 175px;
            padding-left: 14px;
            width: 82px;
            height: 707px;
        }

        .main-banner-header {
            width: 676.1px;
            height: 105px;
            font-family: 'Times New Roman', Times, serif;
            font-size: 40px;
            text-transform: uppercase;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.35;
            letter-spacing: normal;
            color: #ffffff;

            .rostov-on-don-color {
                color: #e3b873;
            }

        }

        .main-banner-text {
            width: 504px;
            height: 89px;
            margin-top: 10px;
            margin-bottom: 40px;
            font-size: 22px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.41;
            letter-spacing: normal;
            color: #ffffff;
        }

        .calculate-cost {
            font-weight: bold;
            font-size: 13px;
            color: #ffffff;
            width: 207px;
            height: 51px;
            border-radius: 2px;
            box-shadow: 0 5px 15px 0 rgba(227, 184, 115, 0.3);
            background-color: #e3b873;
            margin-right: 15px;
        }

        .submit-your-app {
            width: 207px;
            height: 51px;
            border-radius: 2px;
            border: solid 1px #ffffff;
            font-size: 13px;
            letter-spacing: normal;
            color: #ffffff;
            font-weight: bold;
        }

    }


}



.second-block {
    background-color: #131313;
    width: 100%;
    height: 1000px;

    .scroll-down {
        font-size: 14px;
        color: #ffffff;
        width: 245px;
        height: 95px;
        text-transform: uppercase;
        position: absolute;
        background-color: #131313;
        text-decoration: none;

        a {
            margin-left: 12px;
        }
    }

    .navbar-nav {

        width: 630px;
        height: 17px;
        margin-left: 590px;
        margin-top: 30px;



        .navbar-item {
            text-decoration: none;
            margin-right: 61px;
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.41;
            letter-spacing: normal;
            color: rgba(255, 255, 255, 0.3);


        }

        .active {
            color: #e3b873;
        }
    }

    .project-section {

        margin-left: 100px;
        margin-top: 50px;

        .description {
            margin-top: 35px;
            margin-bottom: 42px;
        }

        .apartment_area {
            margin-left: 180px;
            margin-top: -85px;
        }

        .repair_time {
            margin-top: 50px;
        }

        .repair_cost {
            margin-left: 180px;
            margin-top: -65px;
        }

        h3 {
            font-size: 18px;
            color: #E3B873;
            text-transform: uppercase;
            margin-bottom: 8px;
        }



        p {
            line-height: 20px;
            color: white;
            font-size: 15px;



        }
    }

    .slider-img {

        overflow: hidden;
        margin-left: 593px;
        margin-top: -380px;

        .slider-img-item {
            margin-right: 20px;
        }


    }

    .online_control {
        margin-left: 622px;
        margin-top: 70px;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.41;
        letter-spacing: normal;
        color: #ffffff;
    }
}

.video-section {
    width: 817px;
    height: 430px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: -217px;


    .play_arrow {
        margin-left: 336px;
        margin-top: -280px;
        position: absolute;
    }
}

.section__description {
    font-family: FuturaC;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: normal;
    color: #363636;
    text-align: center;
    margin-top: 98px;
}


.form-section-control {
    padding-left: 400px;
    width: 500px;
    height: 300px;
    padding-top: 90px;

    div {
        margin-right: 35px;
    }

    .input-title {
        font-size: 15px;
        color: rgba(54, 54, 54, 0.5);
    }

    input:not([type="checkbox"]) {
        width: 230px;
        padding: 8px 0;
        font-size: 16px;
        color: #363636;
        border: none;
        border-bottom: 1px solid rgba(54, 54, 54, 0.3);

        &::placeholder {

            color: #363636;
        }
    }

    input.button {
        width: 200px;
        height: 50px;
        font-size: 15px;
        color: #ffffff;
        border: 2px solid #E3B873;
        background-color: #E3B873;
        box-sizing: border-box;

        margin-top: 31px;

        &:hover {
            border: 1px solid #363636;
            color: #131313;
        }
    }


}

.check-form {
    margin-top: -100px;

    input[type="checkbox"]:checked,
    input[type="checkbox"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    input[type="checkbox"]:checked+p,
    input[type="checkbox"]:not(:checked)+p {
        display: inline-block;
        position: relative;
        padding-left: 28px;
        cursor: pointer;
    }

    .checkbox__text:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: #E3B873;
        width: 18px;
        height: 18px;
    }

    input[type="checkbox"]:checked+p:after,
    input[type="checkbox"]:not(:checked)+p:after {
        content: "";
        position: absolute;
        transition: all 0.2s ease;
        left: 3px;
        top: 4px;
        width: 10px;
        height: 5px;
        border-radius: 1px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(-45deg);
    }

    input[type="checkbox"]:not(:checked)+p:after {
        opacity: 0;
    }

    p {
        font-size: 16px;
        margin-left: 8px;
    }
}

.forth-block {

    .header-types {

        margin-top: 50px;
        margin-bottom: 50px;

        h3 {
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.41;
            letter-spacing: normal;
            color: #181818;

        }
    }

    .types-of-repair {




        .types-block__description {

            width: 330px;
            height: 286px;
            box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.03);
            background-color: #ffffff;
            margin-top: -100px;
            position: absolute;
            margin-left: 30px;

            h4 {
                margin-left: 22px;
                font-family: YesevaOne;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.41;
                letter-spacing: normal;
                color: #363636;
            }

            li {
                font-size: 15px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.76;
                letter-spacing: normal;
                color: #959595;
            }

            .button {
                width: 228px;
                height: 54px;
                box-shadow: 5px 5px 10px 0 rgba(227, 184, 115, 0.3);
                background-color: #e3b873;
                margin-top: 25px;

                span {
                    text-transform: uppercase;
                    font-family: YesevaOne;
                    font-size: 18px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.41;
                    letter-spacing: normal;
                    color: #ffffff;
                }
            }
        }
    }



}

.fifth-block {
    margin-top: 300px;

    .fifth-block-item {



        img {
            width: 779px;
        }


        .black-form {
            color: #ffffff;
            padding: 28px 50px;
            background-color: #131313;
            width: 500px;
            height: 507.9px;
            border: solid 1px rgba(255, 255, 255, 0.01);
            margin-top: 75px;
            margin-right: 82px;

            form {
                .form-title {
                    text-align: center;
                    font-size: 20px;
                    line-height: 25px;
                    margin-bottom: 40px;
                }

                p:first-child {
                    font-family: FuturaDemiC;
                    font-size: 20px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.23;
                    letter-spacing: normal;
                    color: #ffffff;
                }

                .black-form-item {
                    p {
                        color: rgba(255, 255, 255, 0.5);
                    }

                    input {
                        width: 100%;
                        margin-bottom: 50px;
                        background-color: #131313;
                        border: none;
                        border-bottom: 1px solid rgba(54, 54, 54, 0.3);



                        &::placeholder {
                            font-family: "FuturaDemic";
                            color: #ffffff;
                        }

                        &:last-child {
                            margin-bottom: 16px;
                        }
                    }
                }

                .button-wrapper {
                    display: grid;
                    justify-content: end;

                    .button {
                        margin-top: 40px;
                        width: 213px;
                        height: 51px;
                        box-shadow: 0 5px 15px 0 rgba(227, 184, 115, 0.15);
                        background-color: #e3b873;

                        margin-top: 10px;

                        color: #ffffff;


                    }
                }
            }

            .check-form {
                margin-top: 15px;
                color: white;
            }

        }


        .black-item {

            align-items: center;
            margin-bottom: -40px;
            margin-right: 70px;

            .black-text {
                margin-left: 25px;
                font-family: "FuturaDemic";
                font-size: 20px;
                line-height: 25px;
                color: #E3B873;
            }
        }

    }

    .black-item {
        display: flex;
        align-items: center;
        margin-right: 240px;

        .black-text {
            margin-left: 25px;
            font-family: "FuturaDemic";
            font-size: 20px;
            line-height: 25px;
            color: #E3B873;
        }
    }
}

.sixth-block {
    background-image: url("../images/bg-sixth-block.svg");
    height: 864px;
    width: 100%;
    margin-top: 242px;

    div:first-child {
        padding-top: 137px;
        margin-left: 99px;

        p {
            text-transform: uppercase;
            font-family: YesevaOne;
            font-size: 27px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.41;
            letter-spacing: normal;
            color: #e3b873;
            padding-bottom: 47px;
        }

        li {
            margin-left: -40px;
            padding-bottom: 25px;
            list-style-type: none;

            a {
                font-family: "ProximaNovaRgr";
                font-size: 20px;
                line-height: 25px;
                color: #FFFFFF;
                text-decoration: none;
                transition: all 0.3s;

                &:hover {
                    color: #E3B873;
                    text-decoration: underline;
                }
            }

            .active {
                color: #E3B873;
                text-decoration: underline;
            }
        }
    }

    .photos {

        margin-left: 125px;

        div:first-child {
            padding-right: 43px;

            img:first-child {
                margin-top: -180px;
            }

            img:last-child {
                padding-top: 40px;
            }
        }

        div:last-child {


            img:first-child {
                margin-top: -120px;
            }

            img:last-child {
                margin-top: 40px;
            }
        }
    }
}

.seventh-block {

    background: linear-gradient(to bottom, white 25%, black 25%);

    .title {
        padding-top: 112px;

        h3 {
            text-transform: uppercase;

            font-family: YesevaOne;
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.41;
            letter-spacing: normal;
            color: #181818;
        }
    }


    .description {
        padding-bottom: 40px;
        font-family: FuturaC;
        font-size: 20px;

        line-height: 1.41;

        color: #363636;
        text-align: center;
        padding-top: 24px;


    }

    h4 {
        font-family: YesevaOne;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.41;
        color: #363636;
        padding-top: 25px;
        padding-left: 34px;
    }

    .item-block:nth-child(2) {
        padding-right: 30px;
        padding-left: 30px;
    }

    .item-block__description {
        width: 330px;
        box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.03);
        background-color: #ffffff;
        margin-top: -100px;
        position: absolute;
        margin-left: 30px;
    }

    .item-block:first-child {
        height: 211px;
    }

    .item-block:nth-child(2) {
        height: 286px;
    }

    .item-block:last-child {
        height: 414px;
    }

    li {
        font-family: FuturaC;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.76;
        letter-spacing: normal;
        color: #959595;
    }


    .button {
        width: 228px;
        height: 54px;
        box-shadow: 5px 5px 10px 0 rgba(227, 184, 115, 0.3);
        background-color: #e3b873;
        margin-bottom: -25px;

        span {
            text-transform: uppercase;
            font-family: YesevaOne;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.41;
            letter-spacing: normal;
            color: #ffffff;
        }
    }


    .how-we-are-working {
        margin-top: 217px;


        .info {
            width: 222px;

            .title {

                color: #FFFFFF;
                margin-bottom: 18px;

                span {
                    font-family: YesevaOne;
                    font-size: 27px;
                    line-height: 1.41;
                    text-transform: uppercase;
                    color: #E3B873;

                }

                p {
                    font-size: 18px;
                    line-height: 25px;
                    text-transform: uppercase;
                    color: #FFFFFF;

                }
            }

            .description-main {
                p {
                    margin-bottom: 15px;
                    font-size: 15px;

                    &:last-child {
                        margin-bottom: 98px;
                    }

                    &:first-child {
                        margin-top: 92px;
                        font-size: 18px;

                    }
                }
            }

            h5 {
                font-size: 15px;
                line-height: 23px;
                text-transform: uppercase;
                color: #E3B873;
                margin: 22px 0 10px;
            }

            p {
                font-size: 18px;
                line-height: 29px;
                color: #FFFFFF;
            }

        }
    }

    .how-working-items {
        padding-top: 130px;

        .items-col {
            margin-top: 80px;

            .top-col {
                margin-bottom: 36px;

                .slider-item:first-child {
                    opacity: 1;
                }
            }

            .bottom-col {
                margin-bottom: 46px;
            }

            .slider-item {
                color: #ffffff;
                opacity: 0.3;
                transition: all 0.3s;

                span {
                    font-size: 15px;
                    line-height: 21px;
                    text-transform: uppercase;

                    &::after {
                        content: '';
                        display: block;
                        width: 19px;
                        height: 2px;
                        margin-bottom: 12px;
                        background-color: #E3B873;
                    }
                }

                &:hover {
                    opacity: 1;
                }

                a {

                    font-family: "FuturaBookc";
                    color: #ffffff;
                    font-size: 15px;
                    line-height: 18px;
                    text-decoration: none;
                }
            }
        }

    }



}

.eighth-block {
    background: linear-gradient(to bottom, black 25%, white 25%);

    .our-team {
        line-height: 1.41;
        color: #ffffff;

        p:last-child {
            margin-top: 23px;
            font-size: 16px;
        }

        p:first-child {
            text-transform: uppercase;
            font-size: 20px;
        }
    }

    .team-members {
        padding-top: 73px;

        .designer {
            padding-left: 106px;
            padding-right: 106px;
        }

        .members-icon {
            position: absolute;
            margin-top: -50px;
            margin-left: -50px;
        }

        .members-info {
            width: 233px;
            text-align: center;
            padding-left: 0;
            padding-bottom: 52px;
            position: absolute;
            margin-top: -70px;
            margin-left: 19px;
            background-color: #ffffff;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);

            h4 {
                font-family: YesevaOne;
                font-size: 18px;
                font-weight: bold;
                line-height: 1.41;
                color: #181818;
            }

            p {
                font-family: FuturaC;
                font-size: 16px;
                line-height: 1.52;
                color: #959595;
            }

            .experience {
                width: 233px;
                height: 44px;
                background-color: #e3b873;
                text-align: center;
                padding-top: 13px;

                p {
                    font-family: YesevaOne;
                    font-size: 13px;
                    line-height: 1.52;
                    color: #ffffff;
                }
            }


        }
    }

    .line {
        padding-top: 100px;
    }

    .members-description {
        text-align: center;
        padding-top: 17px
    }

    .our-clients-section {
        padding-top: 90px;
        padding-bottom: 350px;

        .title-section {
            text-align: center;

            h3 {
                text-transform: uppercase;
            }

            img {
                padding-top: 13px;
            }

            p {
                font-family: FuturaC;
                font-size: 20px;
                line-height: 1.41;
                color: #363636;
                padding-top: 28px;
            }
        }

        .item-block {
            width: 376px;
            height: 450px;
            padding: 20px;
            padding-bottom: 0;
            align-items: center;
            box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);

            .avatar {}

            .name {
                font-family: YesevaOne;
                font-size: 18px;
                line-height: 1.29;
                color: #181818;
                padding-left: 14px;
                text-align: center;
                font-weight: bold;
                margin-top: -60px;
            }

            .description {
                font-family: "FuturaBookc";
                font-size: 15px;
                line-height: 180%;
                color: #959595;
                text-transform: lowercase;
                padding-top: 22px;
            }

            .button {
                width: 293.8px;
                height: 54px;
                box-shadow: 5px 5px 20px 0 rgba(227, 184, 115, 0.5);
                background-color: #e3b873;
                margin-left: -20px;

                span {
                    font-family: YesevaOne;
                    font-size: 17px;
                    line-height: 1.41;
                    color: #ffffff;
                    text-transform: uppercase;
                }

                &:hover {
                    background-color: #959595;
                }

                &:hover .vertical-line {

                    border-right: 1px solid #ffffff;
                }
            }
        }



    }
}

.ninth-block {
    background: linear-gradient(to bottom, white 25%, black 25%);


    .last-form {
        width: 878px;
        height: 445px;
        margin: -230px auto 0;
        background-color: black;

        .form-control {
            padding-left: 160px;
            padding-right: 160px;
            background-color: black;
            border: black;

            .form-title {
                font-size: 20px;
                text-transform: uppercase;
                font-family: YesevaOne;
                line-height: 1.41;
                color: #ffffff;
                text-align: center;
                padding-bottom: 25px;
            }

            .form-section-control__item {
                width: 100%;
                margin-bottom: 48px;
                background-color: black;

                .input-title {
                    font-family: FuturaC;
                    font-size: 15px;
                    line-height: 1.41;
                    color: rgba(255, 255, 255, 0.5);
                }


                input {
                    background-color: black;
                    border: none;
                    border-bottom: 1px solid rgba(94, 93, 93, 0.3);

                    :nth-child(3) {
                        border-width: 270px;
                    }
                }



                .name {
                    margin-right: 58px;
                }

            }

            .check-form {
                margin-bottom: 48px;
                margin-left: 100px;

                p {
                    font-family: FuturaC;
                    font-size: 16px;
                    line-height: 1.41;
                    color: #ffffff;
                }
            }

            .button-wrapper {
                margin-left: 170px;

                .button {
                    width: 200px;
                    height: 51px;
                    background-color: #e3b873;
                    font-size: 15px;
                    line-height: 1.76;
                    color: #ffffff;
                }
            }
        }

    }

    .add-info {
        margin-top: 50px;

        p {
            font-family: YesevaOne;
            text-transform: uppercase;
            font-size: 20px;
            line-height: 1.41;
            color: #e3b873;
        }

    }

    .map {
        margin-left: 254px;
        margin-top: 25px;
    }

}

footer {
    background-color: #131313;
    height: 130px;


    .main-navbar {
        margin-top: 55px;

        .navbar-item {
            text-align: center;
            color: white;
            font-size: 14px;
            text-decoration: none;

            &:hover {
                color: #e3b873;
            }
        }

    }

    .main-logo {
        width: 205px;
        font-size: 14px;
        font-weight: bold;
        color: #e3b873;
        text-decoration: none;
        text-transform: uppercase;
        margin-top: 55px;
    }

    .call-btn {
        width: 161px;
        color: white;
        font-size: 13px;
        text-transform: uppercase;
        height: 37px;
        border-radius: 2px;
        box-shadow: 0 5px 15px 0 rgba(227, 184, 115, 0.2);
        background-color: #e3b873;
        margin-top: 55px;

    }

    .call-number {
        margin-top: 55px;
        width: 126px;
        text-align: center;
        color: #e3b873;
        border-bottom: 1px solid #e3b873;
        margin-right: 50px;
        margin-left: 50px;
        font-size: 14px;
    }
}